body{
    background-color:white;
    font-family: "din-condensed", sans-serif;
    font-size:20px;
    padding:0%;
    margin:0%;
}

img, video{
    width: 100%;
    display: block;
}


div.debug{
    border: 1px solid red;
}

@font-face{
    font-family:'maisonneuebook';
    src:url('MaisonNeue-Book.woff') format('woff');
}


/* typography */
div.largetext{
    font-size:100px;
    line-height: 100px;
    font-family: "din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
div.mediumtext{
    font-size:50px;
    line-height:50px;
    font-family: "din-condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
div.smalltext{
    font-size:25px;
    line-height:28px;
    font-family:'maisonneuebook';
    font-style: normal;
}
div.extrasmall{
    font-size:13px;
    line-height: 13px;
    font-family:'maisonneuebook';
    font-style: normal;
}

div.textcenter{
    text-align: center;
}

div.textjustify{
    text-align: justify;
}

div.timestamp{
    background-color: black;
    border:white;
    border: 1px solid white;
    width:39px;
    font-size: 20px;
    line-height: 20px;
    font-family:"din-condensed";
}


/* margins */
div.mt100{
    margin-top:100px;
}

div.mt20{
    margin-top:20px;
}

div.mt200{
    margin-top:200px;
}

div.mb50{
    margin-bottom: 50px;
}

div.mb100{
    margin-bottom: 100px;
}

div.ml50{
    margin-left: 50px;
}

div.ml100{
    margin-left:100px;
}

div.ml300{
    margin-left:300px;
}

div.ml500{
    margin-left: 500px;
}

div.mlauto{
    margin-left: auto;
}

div.mrauto{
    margin-right:auto;
}

div.mr50{
    margin-right:50px;
}

div.mr50{
    margin-right: 50px;
}

div.mr100{
    margin-right:100px;
}

div.mtauto{
    margin-top: auto;
}

div.text-white{
    color:white;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

div.whiteborder{
    border: 1px solid white;
}


/* bg colour */
div.bg-black{
    background-color: black;
}
div.bg-white{
    background-color: white;
}


/* layout */

div.width25{
    width:25%
}

div.width50{
    width:50%
}

div.width75{
    width:75%
}

div.container{
    display:flex;
    flex-wrap:wrap;
}

div.flexend{
    justify-content: flex-end;
}

div.flexcenter{
    justify-content: center;
}

div.spacebetween{
    justify-content: space-between;
}

div.alignstart{
    align-items: flex-start;
}

div.alignend{
    align-items: flex-end;
}

div.aligncenter{
    align-items: center;
}

div.overlay{
    position: relative;
}

div.container.absolute {
    position: absolute;
    top: 5%;
    left:6%;
}

div.title{
    color:white;
}

div.title2{
    transform: translateY(-10px)
}

div.paddingleft20{
    padding-left: 10px;
}

div.paddingright20{
    padding-right:20px;
}

div.caption{
    padding-bottom: 10px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}


/* hero video */

div.herovideo{
    width: 300px;
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index:999;
}

div.herovideo video{
    border-radius: 5px;
}

/* folio marks */

div.folio{
    position: fixed;
    left:0px;
    top:0px;
    width: 100%;
    font-family: "din-condensed";
    font-size: 17px;
    z-index:999;
}

div.folio div{
    background-color:black;
    color:white;
    border: 1px solid white;
    padding-left: 10px;
    padding-right:10px;
}

/* Splash Screen */
div.welcome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  div.welcome.visible {
    display: flex;
    flex-wrap: wrap;
  }

 body.mainpage{

 }

 body.mainpage.active{
    background-color:black;
    filter: contrast(10) invert(1);
 }

 body.mainpage.blur{
    filter: blur(5px) brightness(200%);
 }

 div.popup{
    position: fixed;
    top:200px;
    left:200px;
    background-color:cyan;
    font-size: 30px;
    font-family: "din-condensed";
    display:none;
 }

 div.popup.active{
    display:block;
 }

div.handpopup{
    position:fixed;
    width:100%;
    z-index: -1;
    display:none;
}

div.highlight{
    background-color: black;
    color:white;  
}

div.rather.active{
    color:blue;
}

div.eye1{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 1;
    display:none;
}

div.eye1.active{
    display:flex;
}

div.eye2{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 2;
    display:none;
}

div.eye2.active{
    display:flex;
}

div.eye3{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.eye3.active{
    display:flex;
}

div.eye4{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.eye4.active{
    display:flex;
}

div.eye5{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.eye5.active{
    display:flex;
}

div.forehead{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.forehead.active{
    display:flex;
}

div.mouth{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.mouth.active{
    display:flex;
}

div.mouth2{
    position: absolute;
    left:30px;
    width:50%;
    z-index: 3;
    display:none;
}

div.mouth2.active{
    display:flex;
}

div.eyefootage{
    position: absolute;
    width: 100%;
    z-index: 1;
    filter: grayscale(100%) invert(100%) opacity(70%);
    display:none;
}

div.eyefootage.active{
    display:flex;
}

 /* div.eyebg{
    position:fixed;
    width:100%;
    height:100vh;
    box-sizing: border-box;
    z-index: -1;
    display:none;
 } */

 /* div.eyebg.active{
    display:block;
 } */